@model INFOION.Models.User
 @{
    ViewData["Title"] = "Regist";
}
<h2>Вход на сайт</h2>
 
 
<form asp-action="Regist" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Name">Введите Name</label>
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="LastName">Введите LastName</label>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName" />
        </div>
        <div class="form-group">
            <label asp-for="CountryId" class="control-label"></label>
            <select asp-for="CountryId" class ="form-control" asp-items="ViewBag.CountryId"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Pегистрация" class="btn btn-outline-dark" />
        </div>
    </div>
</form>